%p Who do you know in this site?
%form
  %p
    First Name:
    %input(ng-model='cntl.data.search.fname')

  %p
    Last Name:
    %input(ng-model='cntl.data.search.lname')

  %p
    University:
    %input(ng-model='cntl.data.search.university')

%a(ui-sref='register.step2') Next

